@model Order

@*@using  BookShop.Data;

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager

@SignInManager.UserManager. IsSignedIn(User))*@

    <h3 class="text-center">To complete your order please enter your details below.</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout" method="post" role="form">

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" value="@ViewBag.Firstname"  />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" value="@ViewBag.LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="AddressLine1" class="control-label"></label>
                <input asp-for="AddressLine1" class="form-control" value="@ViewBag.Address1" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressLine2" class="control-label"></label>
                <input asp-for="AddressLine2" class="form-control" value="@ViewBag.Address2" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Eircode" class="control-label"></label>
                <input asp-for="Eircode" class="form-control" value="@ViewBag.PostalCode" />
                <span asp-validation-for="Eircode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="County" class="control-label"></label>
                <input asp-for="County" class="form-control" />
                <span asp-validation-for="County" class="text-danger"></span>
                
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" value="@ViewBag.Country" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" value="@ViewBag.PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="@ViewBag.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-8">
                    <input class="btn btn-success" type="submit" value="Complete order" />&emsp;
                    <a class="btn btn-danger" asp-controller="Orders" asp-action="Delete">Cancel Order</a>
                </div>
                @*<div class="btn-group col-md-offset-2 col-md-8">
                    <a class="btn btn-danger" asp-controller="Orders" asp-action="Delete">Cancel Order</a>
                </div>*@

                @*<ul class="navbar-expand">
                    <li class="nav-item">
                        <input class="btn btn-success" type="submit" value="Complete order" />
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" asp-controller="Orders" asp-action="Delete">Cancel Order</a>
                    </li>
                </ul>*@


            </div>

        </form>
    </div>
</div>
